
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <tr>
	       <td>Before starting</td>
	        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning 1</td> <td><a href="https://datacarpentry.org/shell-genomics/">Introduction to the Command Line</a></td></tr>
      <tr><td>Morning break</td><td> </td>
      <tr><td>Morning 2</td><td><a href="https://datacarpentry.org/wrangling-genomics/">Data Wrangling and Processing</a></td></tr>
      <tr><td>Lunch</td><td> </td>

			<tr><td>Afternoon 1</td><td><a href="https://datacarpentry.org/wrangling-genomics/">Continuation: Data Wrangling and Processing</a></td></tr>
      <tr><td>Afternoon break</td><td> </td>
			<tr><td>Afternoon 2</td><td><a href="https://datacarpentry.org/cloud-genomics/">Introduction to Cloud Computing for Genomics</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>

  </div>
</div>
